.navbar {
    height: 70px;
    width: 100%;
    display : flex;
    flex-direction: row;
    align-items: center;
    background-color:rgba(82, 76, 144, 0.132);
}
.logo {
    height: 80px;
    margin-left: 60px;
    margin-right: 55%;
    width:120px;
}
.Home {
    margin-left: 45px;
    font-size: 20px; /* Adjust margin to reduce gap between items */
    text-decoration: none;
    color: whitesmoke;
}
